.calc__content {
  max-width: 1770px;
  max-height: 620px;
  background-image: url(../img/calc_background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 104px 596px 92px 76px;
  box-shadow: 0 0 10px #e5e5e5;
}

.calc__descr {
  margin-bottom: 95px;
  width: 75%;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: var(--back-text);
}

.calc__title {
  margin-bottom: 20px;
}

.calc__btn {
  border: none;
  transition: background-color .3s ease;
}

.calc__btn:hover {
  background-color: var(--orange-peel);
  cursor: pointer;
}

.calc__btn:active {
  background-color: var(--active)
}
